In [13]:
pwd

'C:\\Users\\owner'

In [115]:
import tweepy
import csv 
import codecs
from tweepy.streaming import StreamListener
from tweepy import OAuthHandler 
from tweepy import Stream 
import pandas as pd
import datetime

ckey= 'VDUfNVtg8mrbX65bU162hpBli'
csecret= 'UBkwbPquvfxzO64W2BQMr0z2RyRIqHflYM9c9M3gIvDRgwnKf2'
atoken= '1269999759168647170-TC7FhCTH9Yvsgc6Py0wvsyfDqr00mK'
asecret= '0glnQlWBdtgfa3UEOoZ987rtdN13PnvH3pOS1mEurSdh5'


auth = OAuthHandler(ckey, csecret)
auth.set_access_token(atoken, asecret)
api = tweepy.API(auth)

today = datetime.datetime.now()
today = today.replace(hour=23, minute=59, second=59, microsecond=999999) # set from the beggining of the day
time_to_the_past = 7 # 1 because we want 1 day before today
yesterday = today - datetime.timedelta(time_to_the_past) 

data =[]
#keywords = 'Farm bill','Farm Law','farmers protest','delhi border','MSP'
next_day = yesterday + datetime.timedelta(time_to_the_past)
cricTweet = tweepy.Cursor(api.search, q= ('Farm bill') ,lang="en",tweet_mode='extended',until = next_day.date()).items(2000)

for tweet in cricTweet:
    data.append((tweet.created_at,tweet.full_text))
cols = ['date','tweet_text']
result = pd.DataFrame(data,columns=cols)

In [116]:
print(tweet.created_at)

2021-01-13 02:22:56

In [117]:
result

                    date                                         tweet_text
0    2021-01-13 23:55:15  RT @kasp_toz: i adore the idea of bill being a...
1    2021-01-13 23:46:37  @hkfp Tw2. .. Trump again \n\nPeter Spencer Ra...
2    2021-01-13 23:45:32  RT @kasp_toz: i adore the idea of bill being a...
3    2021-01-13 23:38:15  RT @BlueRoomStream: Will this bill take away C...
4    2021-01-13 23:25:37  RT @MsSTrivedi: ðŸ”¥ðŸ”¥ Happy Lohri to the Punjabi ...
...                  ...                                                ...
1995 2021-01-13 02:23:50  RT @aghiladevi: There are two parties in TN.\n...
1996 2021-01-13 02:23:10  RT @srivatsayb: All 4 Members of SC appointed ...
1997 2021-01-13 02:23:03  RT @srivatsayb: Instead of this farce, CJI Bob...
1998 2021-01-13 02:22:59  RT @kapsology: CJI was OK with Women, kids and...
1999 2021-01-13 02:22:56  RT @kapsology: All 4 members in SC appointed c...

[2000 rows x 2 columns]

In [118]:
result.to_csv('farmLawTweetsFinal1.csv')

In [1]:
pwd

'C:\\Users\\owner'

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('farmLawTweetsFinal2.csv')
df.head()

,Unnamed: 0,date,tweet_text
0,0,2021-01-14 08:15:20,RT @jatt_junction: When the common man underst...
1,1,2021-01-14 08:14:34,@BradW00ldridge @583jwb @snoopdingo @HoolyMcg ...
2,2,2021-01-14 08:13:32,@smitaprakash The arhthiyas will never let thi...
3,3,2021-01-14 08:13:27,RT @jatt_junction: When the common man underst...
4,4,2021-01-14 08:13:17,"RT @AansariAaquib: Instead of this farce, Bob..."

In [4]:
import re
for i in range(len(df)):
    txt = df.loc[i]["tweet_text"]
    txt=re.sub(r'@[A-Z0-9a-z_:]+','',txt)#replace username-tags
    txt=re.sub(r'^[RT]+','',txt)#replace RT-tags
    txt = re.sub('https?://[A-Za-z0-9./]+','',txt)#replace URLs
    txt=re.sub("[^a-zA-Z]", " ",txt)#replace hashtags
    df.at[i,"tweet_text"]=txt

In [5]:
df

,Unnamed: 0,date,tweet_text
0,0,2021-01-14 08:15:20,When the common man understands the differen...
1,1,2021-01-14 08:14:34,Correct Brad I deducted from my shear...
2,2,2021-01-14 08:13:32,The arhthiyas will never let this end They a...
3,3,2021-01-14 08:13:27,When the common man understands the differen...
4,4,2021-01-14 08:13:17,Instead of this farce Bobde could have app...
...,...,...,...
1995,1995,2021-01-13 03:21:43,Instead of this farce CJI Bobde could have ...
1996,1996,2021-01-13 03:21:38,member committee is appointed by SC to dis...
1997,1997,2021-01-13 03:20:50,CJI was OK with Women kids and the elderly ...
1998,1998,2021-01-13 03:20:35,All Members of SC appointed Farm Committee...
1999,1999,2021-01-13 03:20:32,CJI was OK with Women kids and the elderly ...

In [6]:
df=df.drop_duplicates(subset=['tweet_text'])
df

,Unnamed: 0,date,tweet_text
0,0,2021-01-14 08:15:20,When the common man understands the differen...
1,1,2021-01-14 08:14:34,Correct Brad I deducted from my shear...
2,2,2021-01-14 08:13:32,The arhthiyas will never let this end They a...
4,4,2021-01-14 08:13:17,Instead of this farce Bobde could have app...
7,7,2021-01-14 08:12:25,Instead of this farce CJI Bobde could have ...
...,...,...,...
1978,1978,2021-01-13 03:25:12,SupremeCourt set a really bad precedent by st...
1980,1980,2021-01-13 03:25:03,FarmersRejectSCcommittee Supreme Court appoin...
1982,1982,2021-01-13 03:24:53,Common People didn t get understood advantag...
1987,1987,2021-01-13 03:23:28,Common People didn t get understood advanta...
1991,1991,2021-01-13 03:22:51,SC stays the implementation of three farms law...

In [7]:
df['tweet_text'].isnull().sum()

0